{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 my-auto">
            <div class="row">
                <div class="my-5 col-md-6"><h4> <a href="{% url 'products' %}?category=kitchen,bedroom,decor,art,music,jewellery" class="shop-button btn btn-lg rounded-0 text-uppercase py-3" >Shop Vintage</a></h4></div>
                <div class="my-5 col-md-6"><h4> <a href="{% url 'products' %}?category=flowers,banners,dishcloths,blankets,other" class="shop-button btn btn-lg rounded-0 text-uppercase py-3" >Shop Handmade</a></h4></div>
            </div>
            </div>

        </div>
    </div>
-->
    <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active home-picture">
      <img src="/media/fecover.jpg" alt="Collage of vintage items">
    </div>
    <div class="carousel-item home-picture">
      <img src="/media/IrishHomePostcard.jpg" alt="Chicago">
    </div>
    <div class="carousel-item home-picture">
      <img src="/media/DecanterTall.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endblock %}