html {
    height: 100%;
}
/* from Boutique Ado Project */
body {
    background: url('/media/fecoverphoto.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Pacifico', cursive;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: #5e0000;
    color: white;
    min-width: 260px;
}

.btn-black {
    background:#5e0000;
    color: white;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #380000;
    color: white;
}

.text-black {
    color: #5e0000 !important;
}

.border-black {
    border: 1px solid #5e0000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e2fff1;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
/* End from Boutique Ado Project */
