{% extends 'base.html' %}
{% block extra_css %}
     <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- Parts of the following code is from Boutique Ado project, Code Institute -->
{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% if products.count == 0 %}
                    <div class="container-fluid col-6 mt-3 text-center">
                            <h3>Sorry, no results found.  Please try another category or check back at a later date as we regularly add inventory. </h3>
                    </div>
                {% else %}    
                    {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="../media/image_coming_soon.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                            {% if product.quantity >= 1%}
                                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% else %}
                                                <p class="lead mb-0 text-left font-weight-bold sold-text">Sold</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- end code -->